################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Delegate/.vs/Delegate/v16/Server/sqlite3/storage.ide-wal
