################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Delegate/.vs/Delegate/v16/Server/sqlite3/storage.ide-wal
/Delegate/.vs/Delegate/v16/Server/sqlite3/storage.ide-shm
/Delegate/.vs/Delegate/v16/Server/sqlite3/storage.ide
/Delegate/.vs/Delegate/v16/Server/sqlite3/db.lock
/Delegate/.vs/Delegate/v16/.suo
